.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    background-color: aliceblue;
    border-radius: 5px;
    opacity: 100%;
}

.selected-data-table-row {
    border-bottom: 1pt solid black;
    background-color: dimgrey;
}

.data-table-row {
    border-bottom: 1pt solid black;
}

table {
    border-collapse: collapse;
}
                                                       /* CSS */
button {
   background-color: #36A9AE;
   background-image: linear-gradient(#37ADB2, #329CA0);
   border: 1px solid #2A8387;
   border-radius: 4px;
   box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
   color: #FFFFFF;
   cursor: pointer;
   display: block;
   font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 17px;
   line-height: 100%;
   margin: 0;
   outline: 0;
   padding: 11px 15px 12px;
   text-align: center;
   transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: 100%;
}

button:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
    text-decoration: none;
    transition-duration: .15s, .15s;
}

button:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

button:disabled {
    cursor: not-allowed;
    opacity: .6;
}

button:disabled:active {
    pointer-events: none;
}

button:disabled:hover {
    box-shadow: none;
}

card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.editTable {
    width: 100%;
    height: 100%;
}


.container {
    padding: 2px 16px;
}

.content-grid-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    grid-gap: 25px;
    height: 100%;
}

.map-pane-container {
    grid-column: 1;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.edit-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    padding: 5px;
    height: calc(100% - 10px);
}

.status-container {
    position: relative;
    overflow: hidden;
    padding: 5px;
}

.top-layout {
    display: grid;
    background-image: url("../public/dust.png");
    grid-template-rows: 90px 1fr;
    grid-gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    height: calc(100vh - 15px);
}

h1 {
    font-family: "Adobe Bembo", serif;
}

.banner-container {
    grid-row: 1;
}

.banner-heading {
    grid-column: 1;
    height: 100px
}

.banner {
    display: grid;
    grid-template-columns: 80% 20%;
}

.lang_select {
    grid-column: 2
}

.control-sidebar {
    grid-column: 2;
    height: 100%;
}

.content {
    grid-row: 2;
}

